body {
    background: #fec5e5;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


.logoluly{
    margin: 15px;
    width: 6%;
    height: 300%;
    position: relative;
    left: 230px;
   
}
.contenedor{
    border: 3px solid black;
    width: 100%;
    height: 100%;
    margin: auto;
    
}



center li a {
    color: antiquewhite;
    width: 40%;
    height: 60%;
    max-height: 20%;
}

center a {
    color: black;
    width: 40%;
    height: 60%;
    max-width: 20%;
    max-width: 1000px;
}

ul {
    width: 100%;
    background: black;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    border-radius: 20px;
}

ul center li {
    display: inline-block;
    
}


ul center li a {
    padding: 0px 100px;
    display: inline-block;
   
}

ul center a:hover {
    background:aliceblue;
    color:black;
    border-radius: 20px;
    
}


.lulybazar {
    background: #FF8000; 
    width:500px;
    height: 300px;
    left: 190px;
    border-radius:15px;
    text-align: center;
     box-sizing: border-box;
    position: relative; 
    top: 100px;

}

.informacion {
    background: #FF8000;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    left: 190px;
    top: 70px;
    
}
.Sisebar {
    background: #FF8000;
    width:300px ;
    height: 500px;
    border-radius: 10px;
    border: 100px;
    position: relative;
    float:right;
    top:-380px;
    left:-390px;
    max-width: 10200px;
    text-align: center;
    margin: -100px;
}
hr{
    position: relative;
    left: 22px;
}

.main{
    width: 82%;
    max-width: 1000px;
    
    
}
.logo1 {
    position: relative;
    left: -600px;
    top: 300px;

}

.Redessociales {
    position: relative;
   left: 10px;

}

.Facebook {
    position: relative;
    left: 36px;
    top: -20px;
}

.instragram {
    float: right;
    position: relative;
    left: -1139px;
    top: -55px;
}

.logo2 {

    position: relative;
    left:7px ;
    top:349px;
    
}

.contactos{
    margin: 15px;
    width: 390px; 
}

@media screen and (max-width:800px){
    .main{
        width: 100%;
        
    }
    .Sisebar{
        width: 96%;
        height: 80%;
        position: relative;
        top: 90px;
        left: -30%;
        top: 105px
        
    }
    aside{
        width: 100%;
    }
    .informacion{
        width: 96%;
        height: 40%;
        position: relative;
        left: 10px;
        top: 210px;
    }
    .lulybazar{
        height: 40%;
        width: 96%;
        position: relative;
        left: 10px;
        top: -157px;
        
    }
    .logoluly{
        width: 9%;
        height: 180%;
        position: relative;
        left: 1%;
        margin: 2%;
    }
    .Redessociales{
        position: relative;
        float: left;
        top: 19px;
        left:15px;
    
    }
    .Facebook{
        position: relative;
        float: left;
        top: 70px;
        left: -24%;
    }
    .instragram{
        position: relative;
        float: left;
        left: -24%;
        top: 40px;
    }
    .logo1{
        position: relative;
        float: left;
        left: -1.4%;
        top: 337px;
    }
    .logo2{
        position: relative;
        float: left;
        left: 3%;
        top: 369px;
    }
    
    center li a{
        width: 15%;
        height: 60%;
    }
    ul center li a{
        width: 100%;
        height: 65%;
        padding: 0px 90px;
        margin: 0.6%;
        position:relative;
        left: -90px
    }
    
    ul{
        height: 100%;
        width: 100%;
    }
    hr{
        width: 390px;
        position: relative;
        top: 60px;
        left: -2%;
        
    }
    .contenedor{
        width: 90%;
        height:90%;
        border:3px solid black;
        min-height: 1200px;
    }
    
    .contactos{
        position: relative;
        top: 50px;
    }