body {
    background: #fec5e5;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

li a {
    color: black
}

center a {
    color: black
}

.lulybazar {
    background: #fec5e5;
    width: 500px;
    height: 100px;
    position: relative;
    left: 40px;
}



.informacion {
    background: #fec5e5;
    width: 500px;
    height: 100px;
    position: relative;
    left: 40px;

}

.Sisebar {
    background: #fec5e5;
    width: 500px;
    height: 100px;
    position: relative;
    left: 600px;
    top: -200px;
}

.blusas {
    background: #fec5e5;
    width: 20px;
    position: relative;
    left: 600px;
    top: -80px
}

.vestidos {
    background: #fec5e5;

    position: relative;
    left: 900px;
    top: -40px;
}

.camisetas {
    background: #fec5e5;
    position: relative;
    left: 300px;
    width: 10px;
}
